:root {
  --yello: #f0c828;
  --darkPink: #ee2c85;
  --skyBlue: #14abe3;
  --DarkBlue: #1378bd;
  --blackColor: #202020;
}

.gg-check {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
}
.gg-check::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}

.custom-template {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -325px;
  width: 325px;
  height: max-content;
  display: block;
  z-index: 1;
  background: #ffffff;
  transition: all 0.3s;
  z-index: 1003;
  box-shadow: -1px 1px 20px rgba(69, 65, 78, 0.15);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.5s;
}
.custom-template.open {
  right: 0px;
}
.custom-template .custom-toggle {
  position: absolute;
  width: 45px;
  height: 45px;
  background: #5867dd;
  top: 50%;
  left: -45px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  /*border-right: 1px solid #177dff;*/
  cursor: pointer;
  color: #ffffff;
  box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21);
}
.custom-template .custom-toggle i {
  font-size: 20px;
  animation: 1.3s spin linear infinite;
}
.custom-template .title {
  padding: 15px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #ebedf2;
  background: #5867dd;
}
.custom-template .custom-content {
  padding: 20px 15px;
  max-height: calc(100vh - 90px);
  overflow: auto;
}
.custom-template .switcher {
  padding: 5px 0;
}
.custom-template .switch-block h4 {
  font-size: 13px;
  font-weight: 600;
  color: #444;
  line-height: 1.3;
  margin-bottom: 0;
  text-transform: uppercase;
}
.custom-template .btnSwitch {
  margin-top: 20px;
  margin-bottom: 25px;
}
.custom-template .btnSwitch button {
  border: 0px;
  height: 22px;
  width: 22px;
  outline: 0;
  margin-right: 6px;
  margin-bottom: 6px;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
  border: 2px solid #ededed;
  position: relative;
  transition: all 0.2s;
}
.custom-template .btnSwitch button:hover {
  border-color: #0bf;
}
.custom-template .btnSwitch button.selected {
  border-color: #0bf;
  display: inline-flex;
  align-items: center;
}
.custom-template
  .btnSwitch
  button:not(
    [data-color="white"],
    [data-color="bg1"],
    [data-color="bg2"],
    [data-color="bg3"]
  )
  .gg-check:after {
  border-color: #fff;
}
.custom-template .img-pick {
  padding: 4px;
  min-height: 100px;
  border-radius: 5px;
  cursor: pointer;
}
.custom-template .img-pick img {
  height: 100%;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid transparent;
}
.custom-template .img-pick:hover img,
.custom-template .img-pick.active img {
  border-color: #177dff;
}

.demo .btn,
.demo .progress {
  margin-bottom: 15px !important;
}
.demo .form-check-label,
.demo .form-radio-label,
.demo .toggle,
.demo .btn-group {
  margin-right: 15px;
}
.demo #slider {
  margin-bottom: 15px;
}

.table-typo tbody > tr > td {
  border-color: #fafafa;
}
.table-typo tbody > tr > td:first-child {
  min-width: 200px;
  vertical-align: bottom;
}
.table-typo tbody > tr > td:first-child p {
  font-size: 14px;
  color: #333;
}

.demo-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  transition: all 0.2s;
}
.demo-icon:hover {
  background-color: #f4f5f8;
  border-radius: 3px;
}
.demo-icon .icon-preview {
  font-size: 1.8rem;
  margin-right: 10px;
  line-height: 1;
  color: #333439;
}

body[data-background-color="dark"] .demo-icon .icon-preview {
  color: #969696;
}

.demo-icon .icon-class {
  font-weight: 300;
  font-size: 13px;
  color: #777;
}

body[data-background-color="dark"] .demo-icon .icon-class {
  color: #a9a8a8;
}

.form-show-notify .form-control {
  margin-bottom: 15px;
}
.form-show-notify label {
  padding-top: 0.65rem;
}

.map-demo {
  height: 300px;
}

#instructions li {
  padding: 5px 0;
}

.row-demo-grid {
  margin-bottom: 15px;
}
.row-demo-grid [class^="col"] {
  text-align: center;
}
.row-demo-grid [class^="col"] .card-body {
  background: #ddd;
}

.btnSwitch button[data-color="white"] {
  background-color: #fff;
}
.btnSwitch button[data-color="grey"] {
  background-color: #f1f1f1;
}
.btnSwitch button[data-color="black"] {
  background-color: #191919;
}
.btnSwitch button[data-color="dark"] {
  background-color: #1a2035;
}
.btnSwitch button[data-color="blue"] {
  background-color: #1572e8;
}
.btnSwitch button[data-color="purple"] {
  background-color: #6861ce;
}
.btnSwitch button[data-color="light-blue"] {
  background-color: #48abf7;
}
.btnSwitch button[data-color="green"] {
  background-color: #31ce36;
}
.btnSwitch button[data-color="orange"] {
  background-color: #ffad46;
}
.btnSwitch button[data-color="red"] {
  background-color: #f25961;
}
.btnSwitch button[data-color="dark2"] {
  background-color: #1f283e;
}
.btnSwitch button[data-color="blue2"] {
  background-color: #1269db;
}
.btnSwitch button[data-color="purple2"] {
  background-color: #5c55bf;
}
.btnSwitch button[data-color="light-blue2"] {
  background-color: #3697e1;
}
.btnSwitch button[data-color="green2"] {
  background-color: #2bb930;
}
.btnSwitch button[data-color="orange2"] {
  background-color: #ff9e27;
}
.btnSwitch button[data-color="red2"] {
  background-color: #ea4d56;
}
.btnSwitch button[data-color="bg1"] {
  background-color: #fafafa;
}
.btnSwitch button[data-color="bg2"] {
  background-color: #fff;
}
.btnSwitch button[data-color="bg3"] {
  background-color: #f1f1f1;
}

#modalShowcase .btn-close {
  background: #ff0000;
  opacity: 0.7;
  display: flex;
}
#modalShowcase .btn-close svg {
  fill: #fff;
  width: 16px;
  height: 16px;
}
#modalShowcase .preview-showcase {
  background: #f1f1f4;
  border-radius: 8px;
  padding: 24px 32px;
  padding-bottom: 0;
  padding-right: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}
#modalShowcase .preview-showcase:hover {
  transform: translateY(-2.5%);
  background: #e9f6f9;
}
#modalShowcase .preview-title {
  color: #071437;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 22.75px;
}
#modalShowcase .preview-img {
  width: 100% !important;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease;
}

#checkOutMoreDemos {
  display: flex;
  position: fixed;
  bottom: 12px;
  right: 12px;
  background: #fff;
  color: #252f4a;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 66px;
  height: 70px;
  font-size: 12px;
  box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21);
}
#checkOutMoreDemos i {
  width: 23px;
  height: 23px;
  font-size: 16px;
  margin-bottom: 0.5rem !important;
  padding-top: 0.25rem !important;
}
#checkOutMoreDemos:hover {
  background: #1e2129;
  color: #fff;
  opacity: 1;
  transition: color 0.2s ease;
}

@media screen and (max-width: 1200px) {
  #modalShowcase .modal-dialog {
    padding: 3rem !important;
  }
}
@media screen and (max-width: 550px) {
  .table-typo tr td {
    display: flex;
    align-items: center;
    word-break: break-word;
  }
  .table-typo tr td:first-child p {
    margin-bottom: 0px;
  }

  #modalShowcase .modal-dialog {
    padding: 32px !important;
  }
  #modalShowcase h3 {
    font-size: 16px;
  }
  #modalShowcase .preview-showcase {
    padding: 24px;
    padding-right: 0;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .custom-template .custom-content {
    overflow: auto;
  }

  .form-show-notify > .text-right,
  .form-show-validation > .text-right {
    text-align: left !important;
  }
}
@media screen and (max-width: 400px) {
  .custom-template {
    width: 85% !important;
    right: -85%;
  }
}

/*# sourceMappingURL=demo.css.map */
.card.cardYellow.card-round {
  background-color: var(--yello);
}

/* hi 5 */

.LearnEfficient {
  background-color: var(--DarkBlue) !important;
  color: #ffffff;
  padding: 27px;
  border-radius: 5px;
  height: 100%;
}
.sidebar-wrapper {
  background: #ffffff;
}
i.fas.fa-home ~ .caret {
  color: #ffffff !important;
}

.innerContent {
  padding: 17px;
  margin-top: 80px;
}
li.nav-item a:hover .caret {
  color: var(--darkPink) !important;
}
.custom-template {
  display: none !important;
}
.LearnEfficient h1 {
  font-size: 30px;
  font-weight: 700;
}
.learnWith {
  font-size: 17px;
  color: #ffffffc9;
  font-weight: 500;
}
.LearnEfficient i {
  font-size: 22px;
}
.circle {
  background-color: var(--skyBlue) !important;
  height: 50px !important;
  width: 50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
}
.circle + div p {
  color: #ffffffc9;
  font-size: 14px;
}
.circle + div h5 {
  color: rgb(255, 255, 255);
  font-size: 17px;
}
.haveKnow h3 {
  text-align: center;
  font-size: 22px;
  max-width: 294px;
  font-weight: 400;
  margin: auto;
  line-height: 25px;
  margin-bottom: 17px;
}
.progressCard {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  margin-top: 17px;
}
.haveKnow a {
  width: 100%;
  background: var(--darkPink);
  display: block;
  color: #ffff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 8px 10px;
  border-radius: 5px;
}

.progressCard p {
  background: #14abe326;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--skyBlue);
  margin-bottom: unset;
}

.progressCard h4 {
  font-size: 26px;
  text-align: center;
  padding: 8px;
  font-weight: 700;
}
.sidebar {
  box-shadow: unset !important;
}
nav.navbar {
  border-bottom: unset !important;
  box-shadow: unset !important;
}
.cardDash {
  background: #ffff;
  border-radius: 12px;
  padding: 19px 20px;
}
.progress-bar.progress-animated {
  background: var(--skyBlue);
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardIcon {
  background: #cee7f15e;
  height: 60px;
  width: 60px;
  border-radius: 50px;
  padding: 10px 12px;
  /* border: 1px solid #E6E8ED; */
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--skyBlue);
  margin-right: 10px;
}
.media-body p {
  /* font-size: 16px; */
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}
.media-body small {
  font-size: 0.875em;
  color: #9d9d9d;
}
.media-body {
  width: 100%;
  margin-left: 10px;
}
.progress {
  border-radius: 100px;
  height: 8px;
}
footer.footer a {
  color: var(--skyBlue);
}
.LearnEfficient img {
  height: 210px;
}

/* login css */

.loginPage {
  background: var(--skyBlue);
  height: 100%;
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.leftLoginImg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 99;
  position: relative;
  border-radius: 10px 0px 0px 10px;
}
.loginRight {
  height: 100%;
  background: #fff;
  display: flex;
  border-radius: 0px 10px 10px 0px;
  justify-content: center;
}
.plUnset {
  padding-left: unset !important;
}
.prUnset {
  padding-right: unset !important;
}
.loginLogo img {
  height: 100px;
}
.loginLogo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.loginRight h3 {
  color: var(--skyBlue);
  font-size: 40px;
  text-align: center;
  margin-bottom: 0px;
}
.mutedLogin {
  color: #b1adad;
  font-size: 14px;
  text-align: center;
}

.input-wrapper {
  width: 100%;
  font-family: Arial, sans-serif;
}
.loginRight > div {
  width: 100%;
}
.input-wrapper label {
  font-size: 12px;
  color: var(--skyBlue);
  margin-left: 10px;
  background: #fff;
  position: relative;
  top: 12px;
  padding: 0 5px;
  z-index: 1;
}
.loginForm {
  padding: 25px;
}
.input-icon {
  position: relative;
  border: 1px solid var(--skyBlue);
  border-radius: 5px;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.input-icon .icon {
  color: #7676768a;
  margin-right: 8px;
  font-size: 16px;
}

.input-icon input {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
}
.input-icon select {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
  padding: 3px;
}
.input-icon textarea {
  border: none;
  outline: none;
  font-size: 14px;
  flex: 1;
}
.forgtLogin {
  text-align: right;
}
.forgtLogin a {
  font-size: 15px;
  color: var(--blackColor);
  font-weight: 500;
  text-decoration: dashed !important;
}
.loginForm button {
  border: unset;
  background: var(--darkPink);
  color: #ffff;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 30px auto;
  display: block;
  font-size: 17px;
  margin-top: 15px;
}
.leftLoginImg {
  height: 100%;
}
.loginLeft {
  position: relative;
  height: 100%;
}
.leftLoginImg::after {
  position: absolute;
  background: #ffffff;
  content: "";
  height: 100px;
  width: 100px;
  left: -25px;
  border-radius: 50%;
  top: -25px;
  z-index: 9;
}
.leftLoginImg {
  position: relative;
}

.loginRight::after {
  position: absolute;
  background: #ffffff;
  content: "";
  height: 100px;
  width: 100px;
  right: -25px;
  border-radius: 50%;
  bottom: -25px;
  z-index: 9;
}
.loginRight {
  position: relative;
}
.loginRight input::placeholder {
  color: #b1adad;
}
.textRightLogin h2 {
  font-size: 33px;
  font-weight: 700;
}
.textRightLogin p {
  font-weight: 400;
}
.textRightLogin {
  position: absolute;
  top: 28%;
  z-index: 99;
  padding: 30px;
  color: #fff;
}
/* login end */
.NewStudent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.newStuentBtn a {
  color: #ffffff;
  background: var(--skyBlue);
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
}
.NewStudent h2 {
  font-size: 25px;
  margin-bottom: unset;
}
th.sorting::after {
  display: none !important;
}
th.sorting::before {
  display: none !important;
}
div#myTable_length select {
  border: 1px solid var(--skyBlue);
}
div#myTable_filter input {
  border: 1px solid var(--skyBlue);
  padding: 7px;
}
table#myTable thead {
  background: var(--darkPink);
  color: #fff;
}
div#myTable_length select {
  border: 1px solid var(--skyBlue);
  padding: 7px;
  font-size: 15px;
  font-weight: 500;
}
div#myTable_filter {
  margin-bottom: 15px;
}
table#myTable th {
  border-bottom: unset;
  padding: 10px;
}
table#myTable td {
  border-bottom: unset !important;
  padding: 15px 10px;
  box-shadow: unset !important;
  border-top: unset !important;
}
table#myTable tr {
  border-top: unset !important;
  border-bottom: unset !important;
  box-shadow: unset !important;
}
#myTable tr:nth-child(even) {
  background-color: rgb(255, 255, 255);
}
#myTable tr:nth-child(even) {
  background-color: #dfdfdf82;
}
.toggle-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif;
}

.toggle-input {
  display: none;
}

.toggle-slider {
  position: relative;
  width: 80px;
  height: 34px;
  background-color: #ccc;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.toggle-slider::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  top: 5px;
  left: 3px;
  transition: transform 0.3s ease;
  z-index: 2;
}

.toggle-slider::after {
  content: "OFF";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 13px;
  z-index: 1;
  pointer-events: none;
  transition: content 0.3s ease;
}

.toggle-input:checked + .toggle-slider {
  background-color: var(--skyBlue);
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(46px);
}

.toggle-input:checked + .toggle-slider::after {
  content: "ON";
}
.tableIcon i:nth-child(1) {
  margin-right: 10px;
}
.tableIcon {
  display: flex;
}
.tableIcon i {
  color: var(--blackColor);
}
.fa-trash {
  color: var(--darkPink) !important;
}
table#myTable td {
  font-size: 15px;
  border-bottom: unset !important;
  padding: 15px 10px;
  box-shadow: unset !important;
  border-top: unset !important;
  font-weight: 500;
  color: var(--blackColor);
}
table.dataTable.no-footer {
  border-bottom: unset !important;
}
.manageForm .input-icon {
  margin-bottom: 10px;
  border: 1px solid #37373769;
}
.manageForm label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px !important;
}
.manageForm {
  padding: 25px;
  background: #ffff;
  border-radius: 10px;
}
.submitBtn button {
  color: #ffffff;
  background: var(--skyBlue);
  padding: 8px 15px;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  border: unset !important;
}
.submitBtn {
  text-align: center;
}

/* forgot password */

.verifySec {
  background: #dde3e95c;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verifyEmail {
  background: #ffff;
  text-align: center;
  max-width: 450px;

  border-bottom: 5px solid var(--skyBlue);
  margin: auto;
  border-radius: 10px;
}
#registrationForm {
  text-align: left;
}

.backLogin i {
  font-size: 17px;
  top: 3px;
  position: relative;
}
.backLogin a {
  font-size: 15px;
  color: var(--blackColor);
  font-weight: 500;
}
.backLogin {
  text-align: right;
}
.changePass {
  background: #fff;
  width: 450px;
  border-radius: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 36px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ee2c85;
  transition: 0.4s;
  border-radius: 34px;
  text-align: center;
  line-height: 36px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

.slider::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  top: 6px;
}

input:checked + .slider {
  background-color: #14abe3;
}

input:checked + .slider::before {
  transform: translateX(65px);
}

/* Active inactive */
.active-status {
  text-decoration: underline;
  font-size: 15px;
  position: relative;
  left: -18px;
  text-decoration: none;
}

.inactive-status {
  opacity: 1;
  position: relative;
  left: 14px;
}

/* 2/5/2025 */
input[readonly] {
  background-color: #f0f0f0;
  color: #777;
  cursor: not-allowed;
}

.stuImg img {
  width: 100%;
  padding: 2px;
  height: 100%;
  border: 1px solid #ee2c854a;
  object-fit: inherit;
  border-radius: 50%;
}

.stuImg {
  height: 170px;
  width: 170px;
  margin: auto;
}
.studentImageNmae {
  text-align: center;
}
.studentImageNmae h6 {
  color: var(--skyBlue);
  font-weight: 500;
  margin-top: 6px;
}
.manageStudentDetal .nav-item {
  margin-right: 10px;
}
.logo-header img {
  height: 70px !important;
}

/*6may  */

.input-wrapper ::placeholder {
  opacity: 0.5;
}
.profileImg {
  height: 130px;
  width: 130px;
  margin: auto;
}
.profileImg img {
  height: 100%;
  width: 100%;
 border-radius: 50%;
}
.profileDetailImg img {
  width: 100%;
  height: 100%;
}
.nav-pills.flex-column .nav-link.active {
  color: #ffff;
  font-weight: 500;
  font-size: 16px;
  background: var(--darkPink) !important;
}
.nav-pills.flex-column .nav-link {
  font-weight: 500;
  font-size: 16px;
}

/* 9may */
.imageUp input {
  display: none;
}
.imageUp i {
  margin-left: 5px;
}
.imageUp label {
  background: var(--darkPink);
  color: #fff !important;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 17px;
}
.proFileLeft {
  background: #ffff;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  padding-top: 30px;
  height: 100%;
}
.innerContent {
  padding: 17px;
  margin-top: 80px;
  min-height: 82%;
}
/* card */
.course-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 3px 6px 0px rgba(140, 149, 159, 0.15);
  padding: 20px;
 position: relative; 
}

.course-card h2 {
 font-weight: 500;
  font-size: 20px;
  color: var(--blackColor);
  text-align: center;
  margin-top: 10 px;
  margin-bottom: 10px;
}

.course-card p {
  margin: 5px 0;
  color: #555;
}

.course-card  .label {
  font-weight: bold;
}
 .dateCourse {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
 
  border-radius: 5px;
  font-weight: 500;
  color: var(--darkPink);
}
.capacityParent{
  display: flex;
  justify-content: space-between;
}
.capacityNumber h3 {
  height: 60px;
  width: 60px;
  background: #c9ecf95e;
  border-radius: 50%;
  text-align: center;
  color: var(--skyBlue);
  padding-top: 11px;
}
.capacityParent div:nth-child(2){
  align-self: center;
}